Implement/Support (custom) expanded set of HTTP request methods

I am not certainly sure if devs (whoever added HTTP functionality to GMod) are aware of this, if they were aware of this, then we would be able to use custom HTTP request methods already...
So, here I created this issue in order to request a change about (HTTP) <code><a href="https://wiki.garrysmod.com/page/Structures/HTTPRequest">HTTPRequest</a></code> functionality.
There are more HTTP request methods available other than standard methods (`GET`, `POST`, `DELETE`, etc).

Let me say it this way, it must allow us to use "custom" HTTP request methods; otherwise, we can't call to certain REST API methods, for example - [GitHub API](https://developer.github.com/v3/).
Thus, in current GMod HTTP implementation we **CAN NOT** [edit a Gist](https://developer.github.com/v3/gists/#edit-a-gist), because it requires HTTP request to be called with (custom) `PATCH` method!

Here, I will name a few [HTTP request methods which are not implemented](https://wiki.garrysmod.com/page/Structures/HTTPRequest) at the moment:
- `PATCH`
- `OPTIONS`
- `TRACE`
- `CONNECT`
- ...

Please implement it in a way that would allow us to use expanded set of HTTP request methods via existing global <code><a href="https://wiki.garrysmod.com/page/Global/HTTP">HTTP</a></code> function.
For more information, please [read RFC2616 section 9](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html).

-----

I also have a question, please answer:
Why does [HTTPRequest](https://wiki.garrysmod.com/page/Structures/HTTPRequest) require a `method` name to be specified in lowercase instead of uppercase?

Will add PATCH and OPTIONS, the rest are unsupported by Steamworks API so we cannot add support for those.

@robotboy655 

> Will add PATCH and OPTIONS, the rest are unsupported by Steamworks API so we cannot add support for those

I have gathered some more request methods, please consider adding the following, if possible:
- `COPY`
- `LINK`
- `LOCK`
- `PROPFIND`
- `PURGE`
- `UNLINK`
- `UNLOCK`
- `VIEW`

> You can specify the method in any capitalization you like.

Thanks for clarifying that.

It's physically impossible to add any other methods without us switching to another HTTP library or Valve adding those methods to their Steamworks API.

> It's physically impossible to add any other methods without us switching to another HTTP library or Valve adding those methods to their Steamworks API.

That brings up some more questions and decisions to figure (and it is not that easy, I can see that)...
What are chances for Valve to actually add those methods to their Steamworks API?
When was the last time when Valve updated their HTTP library?
What HTTP library would satisfy us - that is, a "good choice", more powerful HTTP API and without breaking any of the addons, and is fine with Facepunch licensing (etc)?


@CaptainPRICE I'd say that going through all that trouble isn't worth it for those never-used methods.